// container to hold toogle and topnavbar
.navbarcontainer{
  top: 0px;
  z-index: 5;
  width: 100%;
  height: 50px;
  position: fixed;
  background: transparent;
  display: inline-block;
}

.navbarcontainer a{
  padding:10px;
  font-family: $font-con;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  color: $color-white; 
  background: $color-black;
  overflow: hidden; 
  border-radius: 10px;
  margin: 5px;
}


.navbarcontainer .sidebarbtn{
  float: left;
  transition: 0.5s;
  margin-left: 5px; 
}

.navbarcontainer .navbarmenu{
  float: right;
}

.navbarcontainer .fas {
  margin-right: 10px;
}

.navbarcontainer a:hover{
  color: $color-purple;
  font-size: x-large;
  transition: 0.3s;
}





/*sidebar CSS*/
.sidebar{
  top: 0px;
  background: $color-primary;
  overflow-x: hidden;
  color: $color-white;  
  height: 100%;
  width: 0px; 
  transition: 0.5s;  
  position: fixed;
  opacity: 0.8;
  z-index: 5;
}

.sidebarheader {
  text-align: left;
  margin-left: 10px;
  padding: 10px;
}

.sidebar a {
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: $color-white;
  display: block;
}

.sidebar .fas {
  margin-right: 10px;
}


.sidebar a:hover {
  color:$color-secondary;
}











