.row10 {
    max-width: 100%;
    height: 100%;
    display: flex;
}

.row8 {
    max-width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
}


.col10 {
    width: 100%;
    height: 100%;
    float: left;
}

.col10::before, .col10::after {
    content: "";
    clear: both;
    display: table;
}


.col9 {
    width: 90%;
    height: 100%;
    float: left;
}

.col9::before, .col9::after {
    content: "";
    clear: both;
    display: table;
}

.col8 {
    width: 80%;
    height: 100%;
    float: left;
}

.col8::before, .col8::after {
    content: "";
    clear: both;
    display: table;
}

.col7 {
    width: 70%;
    height: 100%;
    float: left;
}

.col7::before, .col7::after {
    content: "";
    clear: both;
    display: table;
}

.col6 {
    width: 60%;
    height: 100%;
    float: left;
}

.col6::before, .col6::after {
    content: "";
    clear: both;
    display: table;
}

.col5 {
    width: 50%;
    height: 100%;
    float: left;
}


.col5::before, .col5::after {
    content: "";
    clear: both;
    display: table;
}

.col4 {
    width: 40%;
    height: 100%;
    float: left;
}

.col4::before, .col4::after {
    content: "";
    clear: both;
    display: table;
}

.col3 {
    width: 30%;
    height: 100%;
    float: left;
}

.col3::before, .col3::after {
    content: "";
    clear: both;
    display: table;
}

.col2 {
    width: 20%;
    height: 100%;
    float: left;
}

.col2::before, .col2::after {
    content: "";
    clear: both;
    display: table;
}

.col1 {
    width: 10%;
    height: 100%;
    float: left;
}

.col1::before, .col1::after {
    content: "";
    clear: both;
    display: table;
}
