/*classes for text, fonts*/

.font-Osans{
    font-family: $font-san;
}

.font-RoboCon{
    font-family: $font-con;
}

.font-RoboMon{
    font-family: $font-mon;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-20{
    font-size: 20px;
}
