$font-san: 'Open Sans', sans-serif;
$font-con: 'Roboto Condensed', sans-serif;
$font-mon: 'Roboto Mono', monospace;

$color-primary: #CC1559;
$color-secondary: #FF5EAA;
$color-poloblue: #96B3D3;
$color-white: #FFFFFF;
$color-gray: #585858;
$color-dovegray: #646464;
$color-black: #000000;
$color-purple: #6600CC;
$color-red: #FF0000;
$color-background: #ffe6f6;


